.border-b-r {
  border-bottom: 4px solid lightblue;
  border-right: 4px solid lightblue;
}
.border-b-l {
  border-bottom: 4px solid lightblue;
  border-left: 4px solid lightblue;
}
.border-b {
  border-bottom: 4px solid lightblue;
}
.border-r {
  border-right: 4px solid lightblue;
}
.border-l {
  border-left: 4px solid lightblue;
}
.border-l-t-r {
  border-left: 4px solid lightblue;
  border-top: 4px solid lightblue;
  border-right: 4px solid lightblue;
}

.item:hover {
  background-color: #11111130;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.modal-content {
  border: 0px !important;
  overflow: hidden;
}
